$blue: rgb(176, 195, 255);
$grey: #d2d2d2;
$lightblue: rgb(230, 230, 230);

.interactiveTable {
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    max-height: 100vh;
    overflow: auto;

    * {
        box-sizing: border-box;
    }

    table {
        border-collapse: collapse;
    }

    td, th, span {
        padding: 15px 20px;
    }

    ul {
        list-style: none;
        text-align-last: left;
    }

    span {
        width: calc(50% - 35px);
        display: inline-block;
        vertical-align: middle;
    }
    
    thead {

        .th {
            background-color: $blue;
            position: sticky;
            z-index: 1;
            white-space: pre-line;

            &:first-child {
                left: 0;
                width: 25%;
                padding: 0;
                z-index: 2;
                min-width: 400px;
            }
        }

        .total {
            background-color: $grey;
            position: sticky;
            z-index: 1;
            white-space: pre-line;

            &:first-child {
                left: 0;
                width: 25%;
                padding: 0;
                z-index: 2;
                min-width: 400px;
            }
        }
    }
    
    tbody {
        th {
            left: 0;
            padding: 0;
            z-index: 1;
            position: sticky;
            background-color: $lightblue;
        }
    }    

    &__numbering {
        width: 70px !important;
        text-align: center;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.tag {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 25px;
    background-color: $lightblue;
    display: inline-block;
    text-align: left;
    margin: 0 5px;

    &__close {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
}

.interactiveTable__filterContainer {
    background: white;
    position: sticky;
    top: 0; left: 0;
    z-index: 3;
    padding-top: 20px;
    padding-bottom: 1px;

    ul {
        margin: 0;
        padding-left: 0;
        margin-bottom: 10px;
    }

    h4 {
        margin: 0;
        margin-bottom: 20px;
    }
}

.interactiveTable__tagsContainer {
    margin-bottom: 10px;
    text-align: left;
}


.interactiveTable__tags {
    display: inline-block;
    margin-left: 10px;
}